// font
$font-SF: 'SF Pro Display';

// colors
$color-main: #FFF735;
$color-secondary: #171717;
$color-black: #000;
$color-black1D: #1D1D1D;
$color-white: #fff;
$color-blue49: #4992FB;
$color-green53:#53CE6F;
$color-orange27:#F57327;
$color-grayE4: #E4E4E4;
$color-black61: #616161;
$color-whiteF1: #F1F1F1;
$color-yellowA8: #A8BB56;
$color-grayEC: #ECECEC;
 
$transition: all .2s ease-in;
 