.blog{
    margin-bottom: 10rem;
    @media (max-width:540px){
       
     }
    &__title{
        margin-top: 50px;
        margin-bottom: 25px;
        h1{
            font-weight: 800;
            font-size: 3rem;
            text-transform: uppercase;
            padding-left: 4rem;
            position: relative;
            line-height: 1.2em;
            @media (max-width:540px){
                font-size: 4rem;
             }
            &::before{
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                height: 80%;
                width: 10px;
                background-color: $color-secondary;
            }
        }
    }
    &__wrp{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &--more{
            justify-content: space-between;
        }
    }
    &__news{
        width: 30%;
        margin-bottom: 3rem;
        @media (max-width:1024px){
            width: 45%;
        }
        @media (max-width:960px){
            margin-bottom: 5rem;
        }
        @media (max-width:540px){
            width: 100%;
         }
        
        &-thumbnail{
            position: relative;
            width: 100%;
            margin-bottom: 2rem;
            @media (max-width:960px){
                margin-bottom: 3rem;
             }
             @media (max-width:960px){
                margin-bottom: 5rem;
             }
            & a{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255,247,53, .8);
                opacity: 0;
                transition: $transition;
                &:hover{
                    @media(min-width:769px){
                        opacity: 1;
                    }
                }
                & span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $color-secondary;
                    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
                    border: 1px solid $color-secondary;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            & img{
                width: 100%;
            }
        }
        &-title{
            margin-bottom: 1.5rem;
            @media (max-width:960px){
               margin-bottom: 2rem;
            }
            & a{
                color: $color-secondary;
                font-size: 1.8rem;
                font-weight: 700;
                text-transform: uppercase;
                @media (max-width:960px){
                    font-size: 3rem;
                }
            }
        }
        &-datatime{
            font-size: 12px;
            letter-spacing: .1em;
            line-height: 180%;
            opacity: .7;
            margin-bottom: 1rem;
            padding-left: 2.1rem;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url("../img//blocks/blog/svg/pencil-icon.svg");
                background-size: cover;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1.3rem;
                height: 1.3rem;
                
            }
        }
        &-summary{
            font-size: 14px;
            letter-spacing: .1em;
            line-height: 180%;
        }
    }
}