.journey{
    padding-bottom: 14.8rem;
    position: relative;
    &__decoration--triangles{
        position: absolute;
        bottom: -30%;
        right: 15%;
        width: 25%;
        &--eventhire{
            width: 20%;
            bottom: -40%;
        }
        &--express{
            bottom: -20%;
        }
        &--addycar{
            bottom: 0;
        }
        @media (max-width:960px) {
            display: none;
        }
        & img{
            width: 100%;
        }
    }
    &__decoration{
        position: absolute;
        right:0;
        top: -35%;
        width: 9%;
        &--express{
            top: -20%;
        }
        @media (max-width:540px){
            top: -15%;
        }
        & img{
            width: 100%;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 3rem;
        line-height: 180%;
        position: relative;
        padding-left: 4rem;
        @media (max-width: 540px){
            align-self: start;
            font-size: 22px;
            margin-bottom: 3rem;
        }
        &::before{
            position: absolute;
            content: '';
            width: 1rem;
            height: 8.3rem;
            border-left: 2px solid $color-black;
            border-right: 2px solid $color-black;
            bottom: 1.5rem;
            left: 0;
            @media (max-width: 540px){
                padding-left: 1rem;
            }
        }
    }
    &__content{
        display: flex;
        padding-top: 3.6rem;
        @media (max-width: 540px){
            flex-direction: column;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3.5rem;
        letter-spacing: 0.1em;
        color: $color-secondary;
        width: 50%;
        @media (max-width: 1280px){
            padding-top: 2rem;
        }
        @media (max-width: 540px){
            width: 100%;
            font-weight: 300;
            font-size: 14px;
            line-height: 220%;
            letter-spacing: 0.1em;
            padding-bottom: 10rem;
        }
        &-part{
            padding-bottom: 2rem;
        }
        &-link{
            color: $color-secondary;
            border-bottom: 1px solid $color-secondary;
        }
    }
    &__list{
        padding-left: 14.8rem;
        @media (max-width: 540px){
            padding-left:0;
        }
        &-item{
            display: flex;
            @media (max-width: 540px){
                flex-direction: column;
                text-align: center;
            }
            &-number{
                font-weight: 900;
                font-size: 2.4rem;
                line-height: 180%;
                letter-spacing: 0.05em;
                color: $color-black1D;
                width: 7.4rem;
                height: 7.4rem;
                background: $color-main;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 540px){
                    align-self: center;
                    width: 13rem;
                    height: 13rem;
                    font-size: 22px;
                }
            }
            &-title{
                font-weight: bold;
                font-size: 2.2rem;
                line-height: 180%;
                text-transform: uppercase;
                color: $color-secondary;
                padding-left: 4.6rem;
                padding-top: 2rem;
                @media (max-width: 540px){
                    font-size: 3.5rem;
                    padding-top: 4rem;
                    padding-right: 4.5rem;
                    padding-bottom: 1.5rem;
                }
            }
        }
        &-arrow{
            padding-left: 3rem;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            @media (max-width: 540px){
                padding-left: 0;
                margin: auto;
                margin-bottom: 3rem;
                margin-top:2rem;
                
            }
        }
    }
}
@media (max-width: 1280px){
    .hidden {
        display: none;
    }
}
        