.office{
    padding-bottom: 5rem;
    &__content{
        padding-bottom: 15rem;
    }
    &__title{
        h3{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 3rem;
            line-height: 180%;
            position: relative;
            padding-left: 4rem;
            align-self: center;
            color: $color-secondary;
            @media (max-width: 540px){
                font-size: 4.4rem;
                padding-left: 5.5rem;
            }
            &::before{
                position: absolute;
                content: '';
                width: 1rem;
                height: 83px;
                border-left: 2px solid $color-secondary;
                border-right: 2px solid $color-secondary;
                bottom: 1.5rem;
                left: 0;
                @media (max-width: 540px){
                    padding-left: 1.5rem;
                }
            }
        }
    }
    &__image{
        width: 85%;
        margin: auto;
        margin-top: 5.4rem;
        @media (max-width: 540px){
            width: 100%;
        }
        & img {
            width: 100%;
        }
    }
}