.ready{
    background: linear-gradient(to right, $color-main 50%, #ffffff 50%);
    @media (max-width: 540px){
        background: $color-main;
    }
    &__wrap{
        position: relative;
    }
    &-triangles-white{
        position: absolute;
        top: 15%;
        right: 56%;
        width: 4%;
        & img{
            width: 100%;
        }
        @media (max-width: 540px){
            right:0;
            width: 6%;
        }
    }
    &-triangles-border{
        position: absolute;
        top: 83%;
        right: 83%;
        width: 2%;
        & img{
            width: 100%;
        }
        @media (max-width: 540px){
            top: 78%;
            right: 40%;
            width: 6%;
        }
    }
    &-triangles-group{
        position: absolute;
        top: 10%;
        right: 5%;
        width: 40%;
        & img{
            width: 100%;
        }
        @media (max-width: 540px){
            display: none;
        }
    }
    &__title{
        position: relative;
        font-weight: 300;
        font-size: 4.8rem;
        line-height: 150%;  
        color: $color-secondary;
        padding-bottom: 13.9rem;
        padding-left: 2rem;
        @media (max-width: 540px){
            font-size: 5.6rem;
        }
        &::before{
            position: absolute;
            content: '';
            width: 1rem;
            height: 38%;
            background: $color-secondary;
            left: 0;
            top: 50%;
            transform: translateY(-115%);
            @media (max-width: 540px){
                height: 42%;
                transform: translateY(-105%);
            }
        }
    }
}