.work{
    padding-bottom: 14rem;  
    padding-top: 5rem;
    &__title{
        font-weight: bold;
        font-size: 2.6rem;
        line-height: 180%;
        padding-left: 4rem;
        margin-bottom: 4.5rem;
        position: relative;
        text-transform: uppercase;
        @media (max-width:540px) {
            margin: auto;
            font-size: 4.1rem;
            margin-bottom: 10rem;
            padding-left: 6rem;
        }
        &::before{
            position: absolute;
            content: '';
            width: 1rem;
            height: 8.3rem;
            border-left: 2px solid $color-secondary;
            border-right: 2px solid $color-secondary;
            left: 0px;
            bottom: 0;
            @media (max-width:540px) {
                height: 17rem;
                width: 1.8rem;
                bottom: 1.8rem;
            }
        }
    }
    &__wrp{
        display: flex;
        justify-content: space-between;
        @media (max-width:540px) {
            display: block;
        }
        
    }
    &__card{
        color: $color-white;
        z-index: 2;
        position: relative;
        
        @media (max-width:540px) {
            margin-bottom: 4rem;
            height: 42rem
        }
        &-wrp{
            width: 41%;
            @media (max-width:540px) {
                width: 100%;
            }
        }
        &-link{
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom:0;
            z-index: 1;
        }
    }
    .card{
        
        &__car{
            background-color: $color-blue49;
            width: 57%;
            padding-right: 3rem;
            padding-top: 8rem;
            padding-bottom: 11rem;
            position: relative;
            height: 700px;
            
            @media (max-width:1280px) {
                height: 58rem;
            }
            @media (max-width:540px) {
                width: 100%;
                height: 65rem;
            }
            &-image{
                width: 80%;
                &--notebook{
                    transform: translateX(20%);
                    @media (max-width:540px) {
                        transform: translateX(24%);
                    }
                    & img{
                        width: 100%;
                    }
                }
                &--car{
                    position: absolute;
                    right: 0;
                    bottom: 6%;
                    width: 47%;
                    & img{
                        width: 100%;
                    }
                }
            }
            &-title{
                padding-left: 6rem;
                font-weight: bold;
                font-size: 3.6rem;
                line-height: 180%;
                @media (max-width:1280px) {
                    font-size: 2.6rem;
                }
            }
            &-subtitle{
                padding-left: 6rem;
                font-size: 2rem;
                line-height: 180%;
                letter-spacing: 0.1em;
                max-width: 35rem;
                @media (max-width:1280px) {
                    font-size: 1.6rem;
                }
            }
        }
        &__event{
            position: relative;
            padding-left: 4rem;
            background-color: $color-green53;
            min-height: 33.5rem;
            margin-bottom: 3rem;
           
            @media (max-width:1280px) {
                min-height: 27.6rem;
            }
            
            &-image{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 60%;
                @media (max-width:540px) {
                    width: 65%;
                }
                img{
                    width: 100%;
                }
            }
            &-title{
                font-size: 3rem;
                font-weight: bold;
                padding-top: 11.2rem;
                margin-bottom: 1rem;
                @media (max-width:1280px) {
                    font-size: 2.6rem;
                }
                @media (max-width:540px) {
                   padding-top: 15rem;
                }
            }
            &-subtitle{
                font-size: 2rem;
                line-height: 180%;
                letter-spacing: 0.1em;
                max-width: 15rem;
                @media (max-width:1280px) {
                    font-size: 1.6rem;
                }
                @media (max-width:540px) {
                    max-width: 20rem;
                }
            }
        }
        &__eventhire{
            background-color: $color-orange27;
            position: relative;
            padding-left: 3rem;
            min-height: 33.5rem;
            margin-bottom: 3rem;
            display: flex;
            @media (max-width:1280px) {
                min-height: 27.6rem;
            }
            @media (max-width:540px) {
                justify-content: space-between;
                padding-right: 4rem;
            }
            
           
            &-image{
                align-self: flex-end;
                width: 50%;
                margin-right: 2rem;
                @media (max-width:540px) {
                    width: 53%;
                }
                img{
                    width: 100%;
                }
                
            }
            &-title{
                font-size: 3rem;
                font-weight: bold;
                padding-top: 9rem;
                margin-bottom: 1rem;
                @media (max-width:1280px) {
                    font-size: 2.6rem;
                }
                @media (max-width:540px) {
                    padding-top: 12rem;
                }
            }
            &-subtitle{
                font-size: 2rem;
                line-height: 180%;
                letter-spacing: 0.1em;
                max-width: 23rem;
                @media (max-width:1280px) {
                    font-size: 1.6rem;
                }
                @media (max-width:540px) {
                    max-width: 25rem;
                }
            }
        }
        &__environments{
            background-color: $color-yellowA8;
            height: 33.5rem;
            width: 49%;
            display: flex;
            align-items: center;
            overflow: hidden;
            @media (max-width:1280px) {
                height: 22.7rem;
            }
            @media (max-width:540px) {
                width: 100%;
                height: 42rem;
            }
            &-wrp{
                padding-left: 3rem;
                @media (max-width:540px){
                    transform: translateX(-9rem);
                }
            }
            &-title{
                font-weight: bold;
                font-size: 3rem;
                line-height: 140%;
                margin-bottom: 1.5rem;
                @media (max-width:1280px) {
                    font-size: 2.6rem;
                    max-width: 10rem;
                }
            }
            &-subtitle{
                font-size: 2rem;
                line-height: 140%;
                /* identical to box height, or 28px */

                letter-spacing: 0.1em;
                @media (max-width:1280px) {
                    font-size: 1.6rem;
                }
            }
            &-image{
                & img{
                    @media (max-width:1280px){
                        height: 22.7rem;
                    }
                    @media (max-width:540px){
                        height: 42rem;
                        transform: translateX(-10rem);
                    }
                }
            }
        }
        &__express{
            background-color: $color-grayEC;
            height: 33.5rem;
            width: 49%;
            color: $color-black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:1280px) {
                height: 22.7rem;
            }
            @media (max-width:540px) {
                width: 100%;
                height: 42rem;
            }
            &-wrp{
                padding-left: 6rem;
            }
            &-title{
                font-weight: bold;
                font-size: 3rem;
                line-height: 180%;
                @media (max-width:1280px) {
                    font-size: 2.6rem;
                }
               
            }
            &-subtitle{
                font-size: 2rem;
                line-height: 180%;
                /* identical to box height, or 36px */

                letter-spacing: 0.1em;
                @media (max-width:1280px) {
                    font-size: 1.6rem;
                }
            }
            &-image{
                width: 65%;
                @media (max-width:1280px) {
                    
                }
                & img {
                    width: 100%;
                }
            }
        }
        &__title{
            @media (max-width:540px) {
                font-size: 3.3rem;
            }
            
        }
        &__subtitle{
            @media (max-width:540px) {
                font-size: 2.8rem;
            }
        }
    }
}

